{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Hello World</title>
</head>
<body>
    <!-- Main Header Section -->
    <header>
        <h1>LeSisstant</h1>
    </header>

    <!-- Subwindows Section -->
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}">
        <button type="logout" class="logout-button">Log Out</button>
    </form>
    <div class="main-app-options">
        <div class="main-option goals">
            <h2>Goals</h2>
            <div>
                {% for goal in goalstoday|slice:":5" %}
                <div class="goal">
                    <h3>{{ goal.goal.name }}</h3>
                    {% if goal.completed %}
                    <p> ✅</p> <!-- Green checkmark for completed -->
                    {% else %}
                    <p>❌</p> <!-- Red X for not completed -->
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="goal-description">
                <h3>You have completed {{ goalscompleted }} out of your {{ count }} goals today </h3>
            </div>
            <form action="{% url 'goals' %}">
                <button type="submit" class="goals-button">View My Goals</button>
            </form>
        </div>
        <div class="main-option therapy">
            <h2>Therapy</h2>
            <form action="{% url 'therapy' %}">
                <button type="submit" class="therapy-button">Open Therapy</button>
            </form>
        </div>
        <div class="main-option journal">
            <h2>Journal</h2>

            <div class="journal-entries">
                {% for entry in journal|slice:":5" %}
                <div class="journal-entry">
                    <p>{{ entry.date }}: {{ entry.entry|slice:":200" }}...</p>
                    <br>
                </div>
                {% endfor %}
            <form action="{% url 'journal' %}">
                <button type="submit" class="journal-button">View Journal</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="login-container">
        <h2> Have an account? Login here</h2>
        <form action="{% url 'login' %}">
            <button type="submit">Login</button>
        </form>
    </div>

    <div class="signup-container">
        <h2> Join LeSisstant! Sign up here</h2>
        <form action="{% url 'signup' %}">
            <button type="submit">Sign Up</button>
        </form>
    </div>
        
    {% endif %}
</body>
</html>
